extends layout

block body
  a.github-fork-ribbon(href='https://github.com/mfbx9da4/ng-server-time', title='Fork me on GitHub') Fork me on GitHub
  h1 Ng Server Time Demo
  div(ng-controller='AppCtrl', ng-cloak)
    div(ng-if="server != 'Invalid date'")
      h3 Server: <span class="time">{{server}}</span>
      small This is the current time on the heroku remote server.
      h3 Browser: <span class="time">{{browser}}</span>
      small This is the current system time from this device.
      h3 Offset <span class="time">{{getOffset}}</span> milliseconds
      small This is the difference between server and system time.
      p Try changing your system time temporarily to watch synchronization in action.
    div(ng-if="server == 'Invalid date'")
      p Connecting to server, please wait ...

  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/lib/ng-server-time-factory.min.js')
  script(src='js/app.js')
