extends layout

block body
  h1 Ng Server Time Demo
  div(ng-controller='AppCtrl', ng-cloak)
    h2 Server: {{server}}
    h2 Browser: {{browser}}
    h2 Offset between browser and server {{getOffset}} milliseconds

  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/lib/ng-server-time-factory.min.js')
  script(src='js/app.js')
