@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin: 0 auto;
	max-width: 426px;
	color: #222;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h3 {
	margin-bottom: 0;
}

.time {
	font-family: courier;
}
